* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: rosybrown;
}

header, .contenido, .features, .feature, footer{
  border: 1px groove rosybrown;
}
.sidebar{
  margin: 12px;
  padding: 30px;
}